.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: lemonchiffon;
    position: absolute;
    top: 0px;
    left: 0px;
}
.header{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
input{
    width: 300px;
}
.todosContainer{
    width: 500px;
    
}
.eachTodo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}
.toggle:hover{
   cursor: pointer;
}